body {
	padding: 50px;
	background: black;
	color: white;
	font-family: 'Satoshi';
}
* {
	box-sizing: border-box;
}
body > *:first-child {
	margin-top: 0;
}
body > *:last-child {
	margin-bottom: 0;
}
