.post {
	padding: 20px;
	border-radius: 10px;
	border: 0;
	background: #ffffff22;
	margin-bottom: 10px;
}
.post > a:first-of-type {
	margin-top: 0;
}
.post > a:first-of-type > h3:first-child {
	margin-top: 0;
}
.post > h3:first-of-type {
	margin-top: 0;
}
.post > *:last-child {
	margin-bottom: 0;
}
.post > p > button {
	background: #ffffff22;
	border: 0;
	margin: 3px;
	color: white;
	padding: 5px 10px;
	border-radius: 8px;
	font-weight: bolder;
}
img {
	width: 100%;
	border-radius: 5px;
}
blockquote {
	border-left: 5px solid #ffffff22;
	margin-left: 0;
	padding: 20px;
}
blockquote > *:first-child {
	margin-top: 0;
}
blockquote > *:last-child {
	margin-bottom: 0;
}
blockquote:hover {
	border-left: 5px solid #ffffff55;
}
.splitView {
	display: flex;
	flex-direction: row;
	gap: 10px;
	justify-content: stretch;
}
.splitView > div {
	flex-grow: 1;
	flex-basis: 1000px;
}
